<div  id="alumni-feature">

  <h2 id="feature-header">
    Alumni Feature
  </h2>
    
  <%= image_tag 'http://adigaskell.org/wp-content/uploads/2016/01/math-and-coding.jpg', id:"feature-image" %>

  <p id="feature-text">
    We thought that this alumnus was way cool because they were actually able to find a job and make money.
  </p>
</div>